* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(30, 29, 29);
    color: white;
}

.container {
    width: 60%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    text-align: center;
    margin: 20px auto;
}

h3 {
    color: greenyellow;
    text-align: center;
    font-size: 1.5rem;
}

ul {
    flex-grow: 1;
    list-style: none;
}

li {
    padding: 10px 20px;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
}

li div:first-child {
    flex-grow: 1;
}

li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.icons_option {
    margin: 0 10px;
    color: red;
    z-index: 20;
}

.icons_option i {
    margin: 0 10px;
}


.pinned {
    font-weight: bold;
    background-color: rgb(125, 114, 101);
}

.done {
    text-decoration: line-through;
}

h4 {
    margin-bottom: 20px;
}

#add_task_text {
    font-size: 2rem;
    color: darkorange;
}

#error_task {
    color: red;
}

#success_task {
    color: green;
}

#add_task {
    margin: 15px auto;
    text-align: center;
}

#add_task input {
    padding: 5px 50px;
    /* Bordi */
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#add_task button {
    padding: 5px 30px;
    background-color: rgb(153, 181, 98);
    color: blueviolet;
    border: 1px solid green;
    /* Bordi */
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}